:root {
    --blanco: #ffffff;
    --negro: #212121;
    --gris: #757575;
    --grisClaro: #aaa9a9;
    --primario: #ffc107;
    --secundario: #0097A7;
}

/* Globales */
html {
    font-size: 62.5%; /* 1 rem equivale originalmente a 16 pixeles, con esto "formateamos" el valor de rem a 10 px, es decir, el 62.5% de 16 es 10. */
}

body {
    font-size: 16px; /* 1rem = 10px */
    font-family: 'Krub', sans-serif;
    background-image: linear-gradient(to top, var(--grisClaro) 0%, var(--blanco) 100%);
}

html { /* Hack para BoxModel*/
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
} 

.contenedor {
    max-width: 120rem;
    margin: 0 auto;
}

.boton {
    background-color: var(--secundario);
    text-decoration: none;
    color: var(--blanco);
    margin-top: 3rem;
    padding: 1rem 3rem;
    border-radius: .5rem;
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: bold;
    width: 90%;
    text-align: center;
}

@media (min-width: 768px) {
    .boton {
        width: auto;
    }
}


/* Tipografía */
h1 {
    font-size: 3.8;
}

h2 {
    font-size: 2.8;
}

h3 {
    font-size: 1.8;
}

h1,h2,h3 {
    text-align: center;
}

/* Títulos */

.titulo span {
    font-size: 2rem;
}

/* Navegación principal */

.nav-bg {
    background-color: var(--secundario);
}

.nav-principal {
    display: flex;
    flex-direction: column;
}

.nav-principal a {
    display: block;
    text-align: center;
    color:var(--blanco);
    font-weight: 700;
    text-decoration: none;
    padding: 1rem;
}

.nav-principal a:hover {
    background-color: var(--primario);
    color:var(--negro);
}

@media (min-width: 768px) {
    .nav-principal {
        flex-direction: row;
        justify-content: space-between;
    }
}

/* Hero */

.hero {
    background-image: url(../img/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 450px;
    position: relative;
}

.contenido-hero {
    position: absolute;
    background-color: rgb(0 0 0 / 70%);
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contenido-hero h2,
.contenido-hero p {
    color: var(--blanco);
}

.contenido-hero .ubicacion {
    display: flex;
    align-items: flex-end;
}